<main class="container">
  <div
    {{! class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm" }}
  >
    <!-- Our logo here: -->
    <div class="d-flex justify-content-center">
      <img
        class="m-3"
        src="/images/logo-no-background.png"
        alt=""
        width="210"
        height="140"
      />
    </div>
    <!-- <div class="lh-1">
                <h1 class="h6 mb-0 text-white lh-1">Bootstrap</h1>
                <small>Since 2011</small>
            </div> -->
  </div>
  <div class="my-3 p-3 bg-body bg-light rounded shadow-sm">
    <h6 class="purple-color border-bottom pb-2 mb-0">Recent updates</h6>
    <form id="post-form">
      <div class="form-group">
        <textarea
          name="content"
          id="post-content"
          class="post-content mytextarea"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {{#each posts as |post|}}
      <div class="d-flex text-muted pt-3">
        <!-- Profile pic? -->
        <img class="postimg" src="{{post.User.image}}" width="32" height="32" />
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">Did you hear that
            <a
              class="purple-color"
              href="/users/{{post.User.id}}"
            >{{post.User.first_name}}
              {{post.User.last_name}}</a>
            said...</strong>
          {{post.content}}
        </p>
      </div>
      {{#if post.Comments}}
        {{#each post.Comments as |comment|}}
          <div class="d-flex text-muted pt-3">
            <p
              class="pb-3 mb-0 small lh-sm border-bottom"
              style="margin-left: 75px"
            >
              <strong class="d-block text-gray-dark">And then
                <a
                  class="purple-color"
                  href="/users/{{comment.User.id}}"
                >{{comment.User.first_name}}</a>
                {{!-- {{comment.User.last_name}} --}}
                said...</strong>
              {{comment.content}}</p>
          </div>
        {{/each}}
      {{/if}}
      <button
        data-postid={{post.id}}
        class="btn-comment btn-secondary"
      >comment</button>
      <div id="commentArea-{{@index}}"></div>
    {{/each}}
    {{! <small class="d-block text-end mt-3">
      <a class="purple-color" href="#">All updates</a>
    </small> }}
  </div>

</main>
<script
  src="https://cdn.tiny.cloud/1/twka8de08h8i2nnwl41om8npf0jjqij47b1ib262g4rya3ww/tinymce/6/tinymce.min.js"
  referrerpolicy="origin"
></script>
<script>
  console.log("textarea: " + document.querySelector(".mytextarea"));
  tinymce.init({ selector: ".mytextarea", plugins: "emoticons", toolbar:
  "emoticons", toolbar_location: "bottom", menubar: false, height: 175 });
</script>
<script src="/js/comment.js"></script>
<script src="/js/post.js"></script>