<div class="padding">
  <div class="profile-header">
    <div class="d-flex justify-content-center">
      <img
        class="mb-4 mt-4 profile-pic"
        src="{{user.image}}"
        alt="user"
        width="20%"
      />
    </div>
    <div class="container">
      <div class="d-flex justify-content-center"><h3
          class="m-b-0"
        >{{user.first_name}} {{user.last_name}}</h3></div>
      <div class="d-flex justify-content-center"><a
          href="javascript:void(0)"
          class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded"
          data-abc="true"
        >Follow</a></div>
    </div>
  </div>

</div>

<!-- Posts (cards) -->
<div class="d-flex justify-content-center"><h6
    class="border-bottom pb-2 mt-5"
    id="post-title"
  >Posts</h6></div>
<div class="mb-3 rounded shadow-sm d-flex justify-content-center">

  <div class="col-6">
    {{#each user.Posts as |post|}}
      <div class="d-flex text-muted pt-3">
        <!-- Profile pic? -->
        <img class="postimg" src="/images/arrow.jpg" width="32" height="32" />

        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">Did you hear that
            <a href="/users/{{post.User.id}}">{{post.User.first_name}}
              {{post.User.last_name}}</a>
            said...</strong>
          {{post.content}}
        </p>

      </div>
      {{#if post.Comments}}
        {{#each post.Comments as |comment|}}
          <div class="d-flex text-muted pt-3">
            <p
              class="pb-3 mb-0 small lh-sm border-bottom"
              style="margin-left: 75px"
            >
              <strong class="d-block text-gray-dark">And then
                <a
                  href="/users/{{comment.User.id}}"
                >{{comment.User.first_name}}</a>
                {{!-- {{comment.User.last_name}} --}}
                said...</strong>
              {{comment.content}}</p>
          </div>
        {{/each}}
      {{/if}}

    {{/each}}
  </div>
</div>

<!-- Friends -->
<div class="col-6">
  <strong class="text-gray-dark">Full Name</strong>
  <a class="purple-color" href="#">Follow</a>
  <span class="d-block">@username</span>
</div>